<config>
    <global>
        <blocks>
            <googleanalytics>
            	<class>Cammino_Googleanalytics_Block</class>
                <rewrite>
                    <ga>Cammino_Googleanalytics_Block_Ga</ga>
                </rewrite>
            </googleanalytics>
        </blocks>
		<models>
			<googleanalytics>
				<class>Cammino_Googleanalytics_Model</class>
				<rewrite>
					<system_config_source_type>Cammino_Googleanalytics_Model_System_Config_Source_Type</system_config_source_type>
				</rewrite>
			</googleanalytics>
		</models>
    </global>
    <frontend>
		<events>
			<controller_action_predispatch_amcart_ajax_index>
				<observers>
					<googleanalytics_cart_add>
						<class>googleanalytics/observer</class>
						<method>addToCart</method>
					</googleanalytics_cart_add>
				</observers>
			</controller_action_predispatch_amcart_ajax_index>
			<controller_action_predispatch_checkout_cart_add>
				<observers>
					<googleanalytics_cart_add>
						<class>googleanalytics/observer</class>
						<method>addToCart</method>
					</googleanalytics_cart_add>
				</observers>
			</controller_action_predispatch_checkout_cart_add>
			<controller_action_predispatch_checkout_cart_delete>
				<observers>
					<googleanalytics_cart_delete>
						<class>googleanalytics/observer</class>
						<method>deleteFromCart</method>
					</googleanalytics_cart_delete>
				</observers>
			</controller_action_predispatch_checkout_cart_delete>
			<checkout_onepage_controller_success_action>
				<observers>
					<googleanalytics_order_success>
						<class>googleanalytics/observer</class>
						<method>setGoogleAnalyticsOnOrderSuccessPageView</method>
					</googleanalytics_order_success>
				</observers>
			</checkout_onepage_controller_success_action>
			<checkout_multishipping_controller_success_action>
				<observers>
					<googleanalytics_order_success>
						<class>googleanalytics/observer</class>
						<method>setGoogleAnalyticsOnOrderSuccessPageView</method>
					</googleanalytics_order_success>
				</observers>
			</checkout_multishipping_controller_success_action>
			<googlecheckout_block_link_html_before>
				<observers>
					<googleanalytics_googlecheckout_integration>
						<class>googleanalytics/observer</class>
						<method>injectAnalyticsInGoogleCheckoutLink</method>
					</googleanalytics_googlecheckout_integration>
				</observers>
			</googlecheckout_block_link_html_before>
		</events>
    </frontend>
</config>